.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.label {
  color: var(--color-grayscale-200);
}

.base {
  width: 100%;
  border: 1.5px solid var(--color-grayscale-300);
  border-radius: 8px;
  color: var(--color-grayscale-900);
  transition: all 0.2s ease-in-out;
  outline: none;
}

/* Variants */
.only-text {
  padding: var(--spacing-12) var(--spacing-16);
}

.text-with-label {
  padding: var(--spacing-12) var(--spacing-16);
}

/* Props */
.Empty {
  border-color: var(--color-grayscale-300);
}

.Focused {
  border-color: var(--color-primary-500);
}

.Filled {
  border-color: var(--color-grayscale-300);
  background-color: transparent;
}

.Error {
  color: var(--color-error);
  border-color: var(--color-error);
  background-color: var(--color-error-container);
}

.Error ~ .error {
  color: var(--color-error);
  margin-top: var(--spacing-4);
}

/* Sizes */
.small {
  width: 312px;
}

.large {
  padding: var(--spacing-12) var(--spacing-16);
}

.Xlarge {
  height: 114px;
  padding: var(--spacing-12) var(--spacing-16);

  vertical-align: top;
  resize: none;
}

/* Placeholder */
.base::placeholder {
  color: var(--color-grayscale-300);
}
.fullWidth {
  width: 100%;
}
